html, body {
  height: 100%; width; 100%;
  margin: 0;
  padding; 0;
  color: #626262 !important;
  font-family: "Lato" !important;
  font-size: 1.2em !important;
}
.wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.space-top
{
  margin-top: 50px !important;
}
.space-top2
{
  margin-top: 5px !important;
}
.white-color
{
  text-decoration: underline !important;
  font-size: 14px;
  font-family: arial, monospace, serif;
  color: #fff !important;
}
.gray-color
{
  background: #eee !important;
}
.slider-resize
{
  min-height: 450px !important
  max-height: 450px !important
}

/*login and register card top color and size*/
.py-3
{
  background: #990000 !important;
}

.hr-line-color
{
  border: 4px solid #900000 !important;
}

.main-color{
  color: #990000 !important;
}

.form-spacing
{
  margin-top: 15px !important;
}
.remove-underline
{
  text-decoration: none !important;
}

.logo-pullup
{
  max-width:150px !important;
  max-height:150px !important;
  margin-top:-15px !important;
  color: #990000 !important;
}

.nav-height
{
  height: 80px !important;
  padding-top: 10px !important;
  background: #fff;
}
#navbar
{
    background-color: #fff !important;
    border-bottom: 6px solid #990000;
}
.generic-pull-top
{
  margin-top:-35px !important;

}

.slider
{
  background: #222;
  height: 350px;
  color: #fff;
}

.space-top
{
  margin-top: 40px !important;
}


/*Setting html 5 video to be responsive*/
#player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
}

video {
  display: block;
  width: 100%;
  height: 100%;
}

.middle-content-card-height
{
  height: 300px !important;
}

.services-header
{
  height: 200px;
  color: #990000;
  font-weight: 700;
  border-top: 6px solid #990000;
}
.services-header2
{
  border-top: 6px solid #990000;
}
.video-border
{
  border-top: 2px solid #222;
}


.generic-header
{
  height: 200px;
  color: #fff;
  font-weight: 700;
  font-family: fantasy, arial, serif;
  background: #660000;
}
.header-color
{
    border-top: 6px solid #990000;
}
.main-color
{
    color #990000 !important;
}
.footer-font
{
  font-family: "Times New Roman", Times, serif !important;
  font-size:16px !important;
}

.footer-content
{
  background: #990000;
  min-height: 350px;
  color: #fff;
  font-family: "Lato" !important;
}
.genegric-height
{
  min-height: 100px !important;
}

/*Change Material Icon Color*/
.material-icons.md-48
{
  font-size: 48px;
  color: #990000;
}


/*Navigation menu*/
#navbar {
	background-color:#f90;
}
#navbar .btn {
	border:0px solid transparent;
}
#navbar .btn-default.focus, #navbar .btn-default:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
#navbar li.nav-item a {
	font-weight:700;
	color:#333;
}
#navbar li.nav-item a:hover {
	color:#fff;
}
#navbar a.dropdown-item {
	font-weight:400 !important;
}
#navbar button.dropdown-toggle-split {
	background-color:transparent;
}
#navbar button.dropdown-toggle-split:hover {
	color:#fff;
}
#navbar button.dropdown-toggle-split:active {
	outline:none;
}
